In [15]:
import pyautogui as pa
import time
import pyperclip as pc


#CÓDIGO PARA AUTOMAÇÃO DE EMAIL
#ENTRADA E DOWLOAD DE ARQUIVOS!
pa.hotkey('ctrl','t')
drive ='https://drive.google.com/drive/my-drive'
pc.copy(drive)
pa.hotkey('ctrl', 'v')
pa.press('enter')
time.sleep(8)
pa.click(627, 565, clicks=2)
time.sleep(2)
pa.click(385, 369)
time.sleep(0.5)
pa.click(1161, 191)
time.sleep(0.5)
pa.click(1005, 590)

In [8]:
import pandas as pd
leitor=pd.read_excel(r'C:\Users\Lucas Guilherme\Downloads\excel.xlsx', engine='openpyxl')
display(leitor)
docs= leitor['Unnamed: 3'].sum()

,CONTAS A PAGAR,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,DATA ATUAL:,2021-05-03 00:00:00,Unnamed: 7,A PAGAR FUTURO,Unnamed: 9,Unnamed: 10,Unnamed: 11,NaN,None.1,None.2,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Data,Histórico,1.0,1.0,Vcto.,Pagto.,Saldo,NaN,POR DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-02-18 00:00:00,Fornecedor A,101.0,1500.0,2015-02-19 00:00:00,None,1500,NaN,VENCIDAS,5150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-02-21 00:00:00,Fornecedor B,102.0,1250.0,2015-02-23 00:00:00,None,1250,NaN,2021-05-03 00:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-02-22 00:00:00,Fornecedor C,103.0,450.0,2015-02-24 00:00:00,None,450,NaN,2021-05-04 00:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-02-23 00:00:00,Fornecedor A,104.0,580.0,2015-02-28 00:00:00,None,580,NaN,2021-05-05 00:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
time.sleep(5)
pa.position()

Point(x=833, y=702)

In [16]:
import pyautogui as pa
import time
import pyperclip as pc

pa.hotkey('ctrl','t')
mail ='https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox'
pc.copy(mail)
pa.hotkey('ctrl', 'v')
time.sleep(3)
pa.press('enter')
time.sleep(5)
pa.click(109, 203)
time.sleep(2)
email = 'cymarnunes@hotmail.com'
pc.copy(email)
pa.hotkey('ctrl', 'v')
pa.press('tab')
pa.press('tab')
pa.write('Relatório das dívidas')
pa.press('tab')
pc.copy(f'''
Relatório de dívidas referentes aos trabalho do mês foi de R$ {docs:,.2f}
''')
pa.hotkey('ctrl', 'v')
time.sleep(0.5)
pa.click(833, 702)